:root {
  filter: invert(100%);
}

body {
  padding: 1rem;
  margin: 0;
  background: #ddd;
  font-family: Avenir, sans-serif;
}

header, section {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: rgb(133, 133, 15);
}

#page {
  display: grid;
  grid-template-areas:
    "header header"
    "projects works"
    "about about";
}

@media screen and (max-width: 768px) {
  #page {
    grid-template-areas: 
    "header header"
    "projects projects"
    "works works"
    "about about";
  }

  #header, #projects, #works, #about {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: .25rem 1rem;
  }
}

#header {
  grid-area: header;
}

#projects {
  grid-area: projects;
}

#works {
  grid-area: works;
}

#about {
  grid-area: about;
}
