:root {
  filter: invert(-100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5vmin 0;
  margin: 0;
  background: #222;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
}

header, section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
}

a {
  color: rgb(90, 49, 228);
  filter: invert(100%);
}

a.btn {
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  /* margin-top: 10px; */
  border: 1px solid #777;
  display: block;
  text-decoration: none;
  color: #ddd;
}

a.btn:hover {
  color: #eee;
  border: 1px solid #999;
  background-color: #333;
}

a.lk {
  color: rgb(0, 128, 100);
}

ul {
  padding: 0;
  list-style-type: none;
}

ul.grid {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 width: 100%;
 gap: .6rem;
}

.emoji {
  filter: invert(100%);
}

#page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "header header"
    "projects works"
    "about about";
  max-width: 1000px;
  gap: 1.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #page {
    grid-template-areas: 
    "header header"
    "projects projects"
    "works works"
    "about about";
  }

  #header, #projects, #works, #about {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: .25rem 1rem;
  }
}

#header {
  grid-area: header;
}

#projects {
  grid-area: projects;
}

#works {
  grid-area: works;
}

#about {
  grid-area: about;
  text-align: justify;
}
