:root {
  filter: invert(100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  margin: 0;
  background: #222;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
}

header, section {
  max-width: 800px;
  margin: 1rem auto;
}

a {
  color: rgb(90, 49, 228);
  filter: invert(100%);
}


a.btn {
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-top: 10px;
  border: 1px solid #777;
  display: block;
  text-decoration: none;
  color: #ddd;
}

a.lk {
  color: rgb(0, 119, 128);
}

ul {
  padding: 0;
  list-style-type: none;
}

#page {
  display: grid;
  grid-template-areas:
    "header header"
    "projects works"
    "about about";
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #page {
    grid-template-areas: 
    "header header"
    "projects projects"
    "works works"
    "about about";
  }

  #header, #projects, #works, #about {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: .25rem 1rem;
  }
}

#header {
  grid-area: header;
}

#projects {
  grid-area: projects;
}

#works {
  grid-area: works;
}

#about {
  grid-area: about;
}
